sample census data

In [4]:
ages = [45, 23, 16, 34, 64, 28, 42, 31, 27, 38, 17, 52, 29, 44, 33, 15, 61, 36, 18, 41]

occupations = ['farmer', 'servant', 'laborer', 'merchant', 'farmer', 'servant', 'teacher', 'farmer', 'laborer', 'merchant', 'servant', 'farmer', 'laborer', 'blacksmith', 'carpenter', 'servant', 'farmer', 'weaver', 'servant', 'carpenter']

birth_places = ['Ireland', 'Ireland', 'New York', 'England', 'Ireland', 'Germany', 'New York', 'Ireland', 'Ireland', 'Scotland', 'Ireland', 'England', 'Ireland', 'Wales', 'Ireland', 'Ireland', 'Scotland', 'Ireland', 'Germany', 'Ireland']

In [6]:
len(ages)

20

In [8]:
len(occupations)

20

In [10]:
len(birth_places)

20

In [12]:
occupations[0:5]

['farmer', 'servant', 'laborer', 'merchant', 'farmer']

In [14]:
from collections import Counter
Counter(occupations)

Counter({'farmer': 5,
         'servant': 5,
         'laborer': 3,
         'merchant': 2,
         'carpenter': 2,
         'teacher': 1,
         'blacksmith': 1,
         'weaver': 1})

In [16]:
Counter(birth_places)

Counter({'Ireland': 11,
         'New York': 2,
         'England': 2,
         'Germany': 2,
         'Scotland': 2,
         'Wales': 1})

In [18]:
for number, x in enumerate(ages):
    print(f"person #{number}: {x}")

person #0: 45
person #1: 23
person #2: 16
person #3: 34
person #4: 64
person #5: 28
person #6: 42
person #7: 31
person #8: 27
person #9: 38
person #10: 17
person #11: 52
person #12: 29
person #13: 44
person #14: 33
person #15: 15
person #16: 61
person #17: 36
person #18: 18
person #19: 41

creating new lists

In [21]:
skilled_laborers = []
for occupation in occupations:
    if occupation == 'blacksmith' or occupation == 'carpenter' or occupation == 'weaver':
        skilled_laborers.append(occupation)
print(f"Number of skilled laborers: {len(skilled_laborers)}")

Number of skilled laborers: 4

In [23]:
uk_origin = []
for origin in birth_places:
    if origin == 'England' or origin == 'Ireland' or origin == 'Wales':
        uk_origin.append(origin)
print(f"Number of people of UK origin: {len(uk_origin)}")

Number of people of UK origin: 14

In [25]:
under_30 = []
for age in ages:
    if age > 30:
        under_30.append(age)
print(f"Number of people who are under thirty: {len(under_30)}")

Number of people who are under thirty: 12

In [27]:
skilled_unskilled = []
for occupation in occupations:
    if occupation == 'blacksmith' or occupation == 'carpenter' or occupation == 'weaver':
        skilled_unskilled.append("skilled laborer")
    elif occupation == 'laborer' or occupation == 'servant' or occupation == 'farmer':
        skilled_unskilled.append("unskilled laborer")
    else:
        skilled_unskilled.append("other")
Counter(skilled_unskilled)

Counter({'unskilled laborer': 13, 'skilled laborer': 4, 'other': 3})

In [29]:
age_group = []
for age in ages:
    if age < 18:
        age_group.append('youth')
    elif age > 50:
        age_group.append('elderly')
    else:
        age_group.append('adult')
Counter(age_group)

Counter({'adult': 14, 'youth': 3, 'elderly': 3})

In [31]:
age_group

['adult',
 'adult',
 'youth',
 'adult',
 'elderly',
 'adult',
 'adult',
 'adult',
 'adult',
 'adult',
 'youth',
 'elderly',
 'adult',
 'adult',
 'adult',
 'youth',
 'elderly',
 'adult',
 'adult',
 'adult']

In [33]:
for age, occupation, origin in zip(ages, occupations, birth_places):
    print(f"Age {age}, worked as {occupation}, born in {origin}")

Age 45, worked as farmer, born in Ireland
Age 23, worked as servant, born in Ireland
Age 16, worked as laborer, born in New York
Age 34, worked as merchant, born in England
Age 64, worked as farmer, born in Ireland
Age 28, worked as servant, born in Germany
Age 42, worked as teacher, born in New York
Age 31, worked as farmer, born in Ireland
Age 27, worked as laborer, born in Ireland
Age 38, worked as merchant, born in Scotland
Age 17, worked as servant, born in Ireland
Age 52, worked as farmer, born in England
Age 29, worked as laborer, born in Ireland
Age 44, worked as blacksmith, born in Wales
Age 33, worked as carpenter, born in Ireland
Age 15, worked as servant, born in Ireland
Age 61, worked as farmer, born in Scotland
Age 36, worked as weaver, born in Ireland
Age 18, worked as servant, born in Germany
Age 41, worked as carpenter, born in Ireland

In [48]:
irish_farmers = []
for occupation, origin in zip(ages, occupations, birth_places):
    if occupation == 'Farmer' origin == 'Ireland':
            irish_farmers.append("Irish Farmers")
irish_farmers

SyntaxError: invalid syntax (1623796207.py, line 4)