In [4]:
# Create a dictionary mapping names to ages
ages_dict = {
    "Patrick Murphy": 45,
    "Mary Kelly": 23,
    "Thomas Williams": 16,
    "Elizabeth Smith": 34
}

# Print the entire dictionary
print(ages_dict)

{'Patrick Murphy': 45, 'Mary Kelly': 23, 'Thomas Williams': 16, 'Elizabeth Smith': 34}

In [6]:
# Get Patrick's age using his name as the key
patricks_age = ages_dict["Patrick Murphy"]
print(f"Patrick Murphy is {patricks_age} years old.")

Patrick Murphy is 45 years old.

In [8]:
celebrity_ages = {
    "Taylor Swift": 35,
    "Olivia Rodrigo": 22,
    "Tom Hanks": 68,
    "Meryl Streep": 75
}

print(celebrity_ages)

taylor_age = celebrity_ages["Taylor Swift"]
print(f"Taylor Swift is {taylor_age} years old.")

{'Taylor Swift': 35, 'Olivia Rodrigo': 22, 'Tom Hanks': 68, 'Meryl Streep': 75}
Taylor Swift is 35 years old.

In [10]:
# Add a new person to our ages dictionary
ages_dict["Michael Sullivan"] = 64
print(ages_dict)

{'Patrick Murphy': 45, 'Mary Kelly': 23, 'Thomas Williams': 16, 'Elizabeth Smith': 34, 'Michael Sullivan': 64}

In [12]:
# Change someone's age
ages_dict["Thomas Williams"] = 17  # Thomas just had a birthday!
print(f"Updated age for Thomas: {ages_dict['Thomas Williams']}")

Updated age for Thomas: 17

In [14]:
# adding to celebrity dictionary

celebrity_ages["Chet Hanks"] = 34
celebrity_ages["Olivia Rodrigo"] = 23
print(celebrity_ages)

{'Taylor Swift': 35, 'Olivia Rodrigo': 23, 'Tom Hanks': 68, 'Meryl Streep': 75, 'Chet Hanks': 34}

In [16]:
# Loop through all names and ages
for name in ages_dict:
    print(f"{name} is {ages_dict[name]} years old.")

# A more elegant way using the .items() method
for name, age in ages_dict.items():
    print(f"{name} is {age} years old.")

Patrick Murphy is 45 years old.
Mary Kelly is 23 years old.
Thomas Williams is 17 years old.
Elizabeth Smith is 34 years old.
Michael Sullivan is 64 years old.
Patrick Murphy is 45 years old.
Mary Kelly is 23 years old.
Thomas Williams is 17 years old.
Elizabeth Smith is 34 years old.
Michael Sullivan is 64 years old.

In [18]:
# Find all people over 30
for name, age in ages_dict.items():
    if age > 30:
        print(f"{name} is {age} years old.")

Patrick Murphy is 45 years old.
Elizabeth Smith is 34 years old.
Michael Sullivan is 64 years old.

In [20]:
# celebrity age gropuing 
for name, age in celebrity_ages.items():
    if age < 29:
        print(f"{name} is in Gen Z and is {age} years old.")
    elif age > 60:
        print(f"{name} is a boomer and is {age} years old.")
    else:
        print(f"{name} is a millenial and is {age} years old.")

Taylor Swift is a millenial and is 35 years old.
Olivia Rodrigo is in Gen Z and is 23 years old.
Tom Hanks is a boomer and is 68 years old.
Meryl Streep is a boomer and is 75 years old.
Chet Hanks is a millenial and is 34 years old.

In [22]:
# Create one dictionary with all information about each person
census_data = {
    "Patrick Murphy": {
        "age": 45,
        "birth_place": "Ireland",
        "occupation": "farmer"
    },
    "Mary Kelly": {
        "age": 23,
        "birth_place": "Ireland",
        "occupation": "servant"
    },
    "Thomas Williams": {
        "age": 17,
        "birth_place": "Wales",
        "occupation": "laborer"
    },
    "Elizabeth Smith": {
    "age": 34,
    "birth_place": "England",
    "occupation": "servant"
    }
}

In [24]:
# Access data from our nested dictionary
print(census_data["Patrick Murphy"])
print(census_data["Patrick Murphy"]["occupation"])

{'age': 45, 'birth_place': 'Ireland', 'occupation': 'farmer'}
farmer

In [26]:
print(census_data["Mary Kelly"]["age"])

23

In [28]:
# Here are our lists of data
names = ["Patrick Murphy", "Mary Kelly", "Thomas Williams", "Elizabeth Smith", "Michael Sullivan",
         "Anna Schmidt", "William Johnson", "James O'Connor", "Bridget Walsh", "Robert Campbell",
         "Catherine Miller", "George Thompson", "Sean O'Neill", "David Jones", "Kevin Burke",
         "Margaret Wilson", "Donald Fraser", "Eileen Doyle", "Frieda Weber", "Timothy Ryan"]

ages = [45, 23, 16, 34, 64, 28, 42, 31, 27, 38, 17, 52, 29, 44, 33, 15, 61, 36, 18, 41]

birth_places = ['Ireland', 'Ireland', 'New York', 'England', 'Ireland', 'Germany', 'New York',
               'Ireland', 'Ireland', 'Scotland', 'Ireland', 'England', 'Ireland', 'Wales',
               'Ireland', 'Ireland', 'Scotland', 'Ireland', 'Germany', 'Ireland']

occupations = ['farmer', 'servant', 'laborer', 'merchant', 'farmer', 'servant', 'teacher', 'farmer',
              'laborer', 'merchant', 'servant', 'farmer', 'laborer', 'blacksmith', 'carpenter',
              'servant', 'farmer', 'weaver', 'servant', 'carpenter']

In [30]:
# Start with an empty dictionary
auto_census = {}

# Loop through the lists to create our nested dictionary
for i in range(len(names)):
    # Extract the data for this person and temporarily put the data into a series of variables
    name = names[i]
    age = ages[i]
    birth_place = birth_places[i]
    occupation = occupations[i]

    # Create the nested dictionary for this person
    auto_census[name] = {
        "age": age,
        "birth_place": birth_place,
        "occupation": occupation
    }

In [32]:
#Print out the entry for Anna Schmidt
print(auto_census["Anna Schmidt"])

#Print out the birth place of Donald Fraser
print(auto_census["Donald Fraser"]["birth_place"])

{'age': 28, 'birth_place': 'Germany', 'occupation': 'servant'}
Scotland

In [34]:
# Celebrity information
names = ["Taylor Swift", "Olivia Rodrigo", "Tom Hanks", "Meryl Streep"]
ages = [35, 22, 68, 75]
birth_places = ["Pennsylvania", "California", "California", "New Jersey"]
occupations = ["singer", "singer", "actor", "actor"]

In [50]:
# Start with an empty dictionary
celebrity_info = {}

# Loop through the lists to create our nested dictionary
for i in range(len(names)):
    # Extract the data for this person and temporarily put the data into a series of variables
    name = names[i]
    age = ages[i]
    birth_place = birth_places[i]
    occupation = occupations[i]

    # Create the nested dictionary for this person
    celebrity_info[name] = {
        "age": age,
        "birth_place": birth_place,
        "occupation": occupation
    }

In [52]:
print(celebrity_info["Taylor Swift"])

{'age': 35, 'birth_place': 'Pennsylvania', 'occupation': 'singer'}

In [56]:
for name, occupation in celebrity_info.items():
    if occupations == "actor":
        print(f"{name}'s occupation is an actor!")
    else:
        print(f"{name}'s occupation is not an actor.")

Taylor Swift's occupation is not an actor.
Olivia Rodrigo's occupation is not an actor.
Tom Hanks's occupation is not an actor.
Meryl Streep's occupation is not an actor.