In [1]:
# Boston population data
boston_1850 = 136881
boston_1860 = 177840
boston_1870 = 250526

# New York population data
ny_1850 = 515547
ny_1860 = 813669
ny_1870 = 942292

# Philadelphia population data
phil_1850 = 121376
phil_1860 = 565529
phil_1870 = 674022

In [3]:
boston_1870 > 200000

True

In [5]:
if ny_1860 > phil_1860:
    print("new york was larger in 1860")
else: print("philidalphia was larger in 1860")

new york was larger in 1860

In [16]:
if (phil_1850 + phil_1850) > phil_1860:
    print("philly doubled in size from 1850 to 60")
else: print("philly did not double in size from 1850 to 60")

philly did not double in size from 1850 to 60

In [18]:
philly_pop_change = phil_1860 - phil_1850
if philly_pop_change > phil_1850:
    print("philly at least doubled in size")
else:
    print("philly did not double in size")

philly at least doubled in size

In [20]:
####

Calculating population growth

In [23]:
# Calculate population growth
boston_growth = boston_1870 - boston_1850
ny_growth = ny_1870 - ny_1850
phil_growth = phil_1870 - phil_1850

In [25]:
if boston_growth > ny_growth and boston_growth > phil_growth:
    print("boston has highest growth")
elif ny_growth > boston_growth and ny_growth > phil_growth:
    print("new york has the highest growth")
elif phil_growth > ny_growth and phil_growth > boston_growth:
    print("phil has the highest growth")
else:
    print("they all didnt grow at all")

phil has the highest growth

In [29]:
if boston_1870 > 200000 and (boston_1870 - boston_1850) > 100000:
    print("the condition was met")
else:
    print("the condition was not met")

the condition was met