Different types of payments over the last week:

- cash at work
- credit card at work
- credit card at costco
- online using credit card (amazon)
- golf course pos system
- filed taxes and got refund
- friend venmoed me for paying for his golf
- pay off credit card bill
- autopay for internet bill/apple cloud service/patreon
-

In [16]:
import pandas as pd

# Load both sheets
enrollment_df = pd.read_excel('university_data.xlsx', sheet_name='Enrollment')
tuition_df = pd.read_excel('university_data.xlsx', sheet_name='Tuition')

# View basic information
print(enrollment_df.shape)  # Check number of rows and columns
print(tuition_df.shape)

# Preview the data
print(enrollment_df.head())
print(tuition_df.head())

(6, 5)
(5, 4)
            University  total_students  undergrad_percent  grad_percent  \
0  Stanford University           16937               65.2          34.8
1   harvard university           20050               62.8          37.2
2                MIT             11376               54.5          45.5
3                 Yale           12060               58.3          41.7
4   harvard university           20050               62.8          37.2

   International students
0                    3984
1                    5726
2                    3787
3                    2841
4                    5726
            university  undergrad_tuition  grad_tuition  Average_financial_aid
0  Stanford University              56169         54315                  52030
1   harvard university              54002         51654                  53604
2                MIT                55878         58240                  48264
3                 Yale              59950         45700                  55879
4          UC Berkeley              14226         14226                  23736

In [18]:
# Examine column names
print(enrollment_df.columns)
print(tuition_df.columns)

# Check data types
print(enrollment_df.dtypes)
print(tuition_df.dtypes)

Index(['University', 'total_students', 'undergrad_percent', 'grad_percent',
       'International students'],
      dtype='object')
Index(['university', 'undergrad_tuition', 'grad_tuition',
       'Average_financial_aid'],
      dtype='object')
University                 object
total_students              int64
undergrad_percent         float64
grad_percent              float64
International students      int64
dtype: object
university               object
undergrad_tuition         int64
grad_tuition              int64
Average_financial_aid     int64
dtype: object

In [20]:
# Check for duplicate rows in the enrollment dataframe
print(enrollment_df.duplicated())
print("Duplicate rows in enrollment data:")
print(enrollment_df[enrollment_df.duplicated()])


# Check for duplicate rows in the tuition dataframe
print(tuition_df.duplicated())
print("Duplicate rows in tuition data:")
print(tuition_df[tuition_df.duplicated()])

0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool
Duplicate rows in enrollment data:
           University  total_students  undergrad_percent  grad_percent  \
4  harvard university           20050               62.8          37.2

   International students
4                    5726
0    False
1    False
2    False
3    False
4    False
dtype: bool
Duplicate rows in tuition data:
Empty DataFrame
Columns: [university, undergrad_tuition, grad_tuition, Average_financial_aid]
Index: []

In [22]:
# Check unique values in all columns
for column in enrollment_df.columns:
    print(f"Column: {column}")
    print(enrollment_df[column].unique())
    print("---")

for column in tuition_df.columns:
    print(f"Column: {column}")
    print(tuition_df[column].unique())
    print("---")

Column: University
['Stanford University' 'harvard university' 'MIT  ' '  Yale' 'UC Berkeley']
---
Column: total_students
[16937 20050 11376 12060 42501]
---
Column: undergrad_percent
[65.2 62.8 54.5 58.3 71.5]
---
Column: grad_percent
[34.8 37.2 45.5 41.7 28.5]
---
Column: International students
[3984 5726 3787 2841 6763]
---
Column: university
['Stanford University' 'harvard university' 'MIT  ' '  Yale' 'UC Berkeley']
---
Column: undergrad_tuition
[56169 54002 55878 59950 14226]
---
Column: grad_tuition
[54315 51654 58240 45700 14226]
---
Column: Average_financial_aid
[52030 53604 48264 55879 23736]
---

In [24]:
# Strip whitespace, standardize case, replace multiple spaces in column names
enrollment_df.columns = [col.strip().lower().replace('   ', '_').replace(' ', '_') for col in enrollment_df.columns]
tuition_df.columns = [col.strip().lower().replace('_', '').replace(' ', '_') for col in tuition_df.columns]

print(enrollment_df.columns)
print(tuition_df.columns)

Index(['university', 'total_students', 'undergrad_percent', 'grad_percent',
       'international_students'],
      dtype='object')
Index(['university', 'undergradtuition', 'gradtuition', 'averagefinancialaid'], dtype='object')

In [37]:
# Strip whitespace and standardize case for univeresity names
enrollment_df['university'] = enrollment_df['university'].str.strip().str.title()
tuition_df['university'] = tuition_df['university'].str.strip().str.title()

# note what happens to UC Berkeley with the title() function...

print(enrollment_df['university'])
print(tuition_df['university'])

0    Stanford University
1     Harvard University
2                    Mit
3                   Yale
5            Uc Berkeley
Name: university, dtype: object
0    Stanford University
1     Harvard University
2                    Mit
3                   Yale
4            Uc Berkeley
Name: university, dtype: object

In [39]:
# Remove duplicate rows based on a column
enrollment_df = enrollment_df.drop_duplicates(subset=['university'])

In [41]:
# Merge the enrollment and tuition data on the cleaned university name
merged_df = pd.merge(
    enrollment_df,
    tuition_df,
    on='university',
    how='outer'  # Use outer join to keep all universities from both sheets
)

In [43]:
# Save the data to CSV file
merged_df.to_csv('university_data_merged.csv', index=False)

In [46]:
merged_df

,university,total_students,undergrad_percent,grad_percent,international_students,undergradtuition,gradtuition,averagefinancialaid
0,Harvard University,20050,62.8,37.2,5726,54002,51654,53604
1,Mit,11376,54.5,45.5,3787,55878,58240,48264
2,Stanford University,16937,65.2,34.8,3984,56169,54315,52030
3,Uc Berkeley,42501,71.5,28.5,6763,14226,14226,23736
4,Yale,12060,58.3,41.7,2841,59950,45700,55879